body{
    margin: 0px;
    padding: 0px;
    background-color: #F7EFE5;
    font-family: 'Josefin Sans', sans-serif;
    
}



#left{
    text-align: left;
    font-size: 1.25rem;
    
}

.hr{

background-color: black;
height: 1px;
border: none;
margin-top: 0px;
}

h1{
    font-size: 2.5rem;
    font-family: 'Sacramento', cursive;    
    text-align: center;
}

.top-container{
    position:relative;
    height: 1.25rem;
    background-color: #D7E9B9;
    padding: 30px;
    
}
p{
    margin-bottom:30px;
}
.element{
    font-size: 1.25rem;
    display: inline-block;
    position: absolute;
    right: 30px;
}

.nameTag{
    text-align: center;
}

#program{
    height:200px;
    width: 400px;
    margin-bottom: 30px;
}

#javascript{
    height: 150px;
    width: 300px;
    margin-bottom: 30px;
}

#python{
    height: 130px;
    width: 250px;

}

#agile{
    height: 200px;
    width: 450px;
}

#investing{
    height: 200px;
    width: 350px;
}

.align{
    text-align: center;
}

.brief-intro{

}

.welcome{
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

