body{

    background-color: #CCAE6C;
    font-family: 'Josefin Sans', sans-serif;
    
}



#left{
    
    text-align: left;
    font-size: 20px;
    
}

.hr{

background-color: black;
height: 1px;
border: none;
margin-top: 20px;
}

h1{
    
    font-family: 'Sacramento', cursive;    
    text-align: center;
}

.top-container{
    position:relative;
    margin-top: 40px;
    height: 50px;
}

.element{
    font-size: 20px;
    display: inline-block;
    position: absolute;
    right: 30px;
}

.nameTag{
    text-align: center;
}

#program{
    height:200px;
    width: 400px;
}
